@font-face {
    font-family: 'NanumSquareNeo_bold';
    src: url(../font/NanumSquareNeo/woff/NanumSquareNeoTTF-cBd.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo_regular';
    src: url(../font/NanumSquareNeo/woff/NanumSquareNeoTTF-bRg.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo_light';
    src: url(../font/NanumSquareNeo/woff/NanumSquareNeoTTF-aLt.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo_extraBold';
    src: url(../font/NanumSquareNeo/woff/NanumSquareNeoTTF-dEb.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo_heavy';
    src: url(../font/NanumSquareNeo/woff/NanumSquareNeoTTF-eHv.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo_variable';
    src: url(../font/NanumSquareNeo/woff/NanumSquareNeo-Variable.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JSArirang';
    src: url(../font/JSArirang.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JSArirang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirang-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JSArirangPPURI-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirangPPURI-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WandohopeR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MYArirang-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYArirang-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunGs';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}